@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Fira Sans", serif;
}

/* shared design */
.green-btn{
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 17px 34px;
}
.content-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700px;
    line-height: 48px;
    text-align: left;
}

/* header design */
.navigation{
    max-width: 1380px;
    align-items: center;
    margin: 0px auto;
    /* padding: 24px 260px; */
    display: flex;
    justify-content: space-between;
}
nav h3{
    width: 222px;
    height: 38px;
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}

nav button{
    color: #006A50;
    max-height: 52px;
    font-size: 18px;
    font-weight: 600px;
    padding: 15px 30px;
    text-align: center;
    border: 1px solid #006A50;
    border-radius: 8px;
}

/* banner design */

.banner{
    display: flex;
    margin: 0px auto;
    justify-content: center;
    max-height: 560px;
    max-width: 1280px;
    background-color: #C6E4D6;
    padding: 80px 50px;
    border-radius: 24px;
}
#title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}
#title-des{
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
}
#banner-img{
    align-items: center;
}

/* pillars design */

.pillars{
    max-width: 1380px;
    max-height: 324px;
    margin: 80px auto;
}
.content-box{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.content{
    padding: 24px;
    width: 302px;
    height: 244px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.content h3{
    font-size: 20px;
}
.content-details{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.vision{
    max-width: 1380px;
    max-height: 765px;
    margin: 150px auto;
}
.content-box2{
    display: flex;
    gap: 24px;
}
.content2{
    
    width: 410.67px;
    height: 325px;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.content2 h3{
    font-size: 20px;
}
#btn1{
    background-color: #5490F5;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px;
    border: none;
    position: relative;
    top: 80px;

}
#btn2{
    background-color: #09A15C;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px;
    border: none;
    position: relative;
    top: 80px;
}
#btn3{
    background-color: #FFC239;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px;
    border: none;
    position: relative;
    top: 80px;
}
.speech{
    margin: 50px auto;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: white;
    border-radius: 16px;
    padding: 48px 24px;
    width: 1280;
    background-image:url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: bottom 220px left 25px;
}
.speech p{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.speech h3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-bottom: 0px;
}